.resume {

    position: absolute;
    max-width: 980px;
    height: auto;
    left: 0;
    right: 0;
    margin: 10px auto;
    font-family: 'Open Sans';
    font-size: 15px;
    color: black;
    box-sizing: content-box;
    border: 1px solid #ececec;

}

body.animate .resume {

    border: none;
}

body.animate.animate-reverse .resume {

    border: 1px solid #ececec;
}

.resume .heading {

    position: relative;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
}

.resume .heading a {

    text-transform: lowercase;
    font-weight: 500;
    font-size: 18px;
    float: right;
}


.resume .section  {

    position: relative;
    padding: 15px 0;
    background-color: white;
}


.resume .buttons {

    position: absolute;
    right: -100px;
    top: 30px;

}

.resume .buttons ul {

    list-style: none;
}

.resume .buttons li {

    margin: 20px 0;
    cursor: pointer;
}

.resume .buttons li a {

    color: black;
}

.resume .buttons i {

    font-size: 25px;
    background-color: #A3F1CD;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    transition: all 200ms ease-in;
}

.resume .buttons i:hover {

  border-radius: 15px;
}

.resume .starter {

    height: 10px;
    position: absolute;
    right: -50px;
    top: 75px;
}

.resume h5 {

    margin: 0;
    text-transform: uppercase;
}

.resume .heading,
.resume .section h5,
.resume .section-item {

  padding-left: 50px;
  padding-right: 50px;
}

.section-item,
.section-heading,
.section-content {

    margin: 5px 0;
    line-height: 28px;
}

.section-heading {

    font-weight: 700;
    margin-top: 20px;
}

.section.education .section-heading,
.section.contact .section-heading,
.section.skills .section-heading span {

    font-weight: 500;
}

.section.education .section-heading,
.section.skills .section-heading {

    margin-top: 10px;
}

.section.education .section-heading span,
.section.experience .section-heading span {

    font-weight: 500;
    float: right;
}

.section.contact .section-heading {

    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid black;
}

/*=====================================
=            MORE SECTIONS            =
=====================================*/


.more {

    display: flex;
    height: 0;
    margin: 0 25px;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    transition: 500ms;
}

body.animate .section .more {

    margin: 0;
    background: #E8E8E8;
}

.section .more::after {

    content: "";
    /* border-top: 0px solid white; */
    border-left: 3px solid #A3F1CD;
    border-right: 3px solid #A3F1CD;
    width: 974px;
    height: 40px;
    background-color: #A3F1CD;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 10px 2px -6px #777;
}

.section .more .box .fa {

    display: block;
    font-size: 32px;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
}

.more .box {

    position: relative;
    display: inline-block;

    margin: 0 20px;
    padding: 20px;
    width: 200px;
    height: 200px;
    background-color: #565656;
    color: #A3F1CD;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.more .box.screen {

    width: 320px;
    padding: 0;
}

.more .box.github {

    width: 725px;
}

.more .box.link {

    display: inline-block;
    line-height: 200px;
}

.more .box.invisible {

    background-color: transparent;
}

/*===================================================================
=            GRID LASER LINES using ::after and ::before            =
===================================================================*/


.resume::before {

  content: "";
  width: 2px;
  display: block;
  background-color: #A3F1CD;
  position: absolute;
  left: -2px;
  top: 0;
}

.resume::after {

  content: "";
  width: 2px;
  display: block;
  background-color: #A3F1CD;
  position: absolute;
  right: -2px;
}

.resume .starter::before {

    content: "";
    height: 2px;
    display: block;
    background-color: #A3F1CD;
}

.resume .section::before {

    content: "";
    height: 1px;
    display: block;
    background-color: #A3F1CD;
    position: absolute;
    right: -1px;
    top: -1px   ;
}

.resume .heading::before {

    content: "";
    height: 2px;
    display: block;
    background-color: #A3F1CD;
    position: absolute;
    right: -1px;
    top: -1px;
}

/* ======================*/
/* FORWARD ANIMATION --- */
/* ======================*/

body.animate .resume .starter::before {

    -webkit-animation: 100ms ease-in both starter-wide;
}

body.animate .resume::after {

    -webkit-animation: 300ms ease-in 100ms both up-down;
}

body.animate .resume .section::before,
body.animate .resume .heading::before  {

    -webkit-animation: 400ms ease-in 400ms both resume-wide;
}

body.animate .resume::before {

    -webkit-animation: 300ms ease-in 800ms both down;
}

body.animate {

    -webkit-animation: 200ms ease-in 1100ms both broaden;
}

body.animate .resume .section,
body.animate .resume .heading {

    -webkit-animation: 200ms ease-in 1200ms both lift;
}

body.animate .resume > .more {

    -webkit-animation: 200ms ease-in 1400ms both appear;
}

body.animate .section > .more {

    -webkit-animation: 200ms ease-in 1400ms both appear-with-border;
}

/* ======================*/
/* REVERSE ANIMATION --- */
/* ======================*/

body.animate-reverse .resume .starter::before {

    -webkit-animation: 100ms ease-in 600ms both starter-wide-reverse;
}

body.animate-reverse .resume::after {

    -webkit-animation: 100ms ease-in 500ms both up-down-reverse;
}

body.animate-reverse .resume .section::before,
body.animate-reverse .resume .heading::before  {

    -webkit-animation: 100ms ease-in 400ms both resume-wide-reverse;
}

body.animate-reverse .resume::before {

    -webkit-animation: 100ms ease-in 300ms both down-reverse;
}

body.animate-reverse {

    -webkit-animation: 100ms ease-in 200ms both broaden-reverse;
}

body.animate-reverse .resume .section,
body.animate-reverse .resume .heading {

    margin: 40px 0px;
    top: -10px;
    box-shadow: 0 10px 6px -6px #777;

    -webkit-animation: 100ms linear 100ms both lift-reverse;
}


body.animate-reverse .resume > .more {

    -webkit-animation: 100ms ease-in both appear-reverse;
}

body.animate-reverse .section > .more {

    -webkit-animation: 100ms ease-in both appear-with-border-reverse;
}

/* ======================*/
/* ANIMATION --- */
/* ======================*/

@-webkit-keyframes starter-wide {
    0%    { width: 0px; }
    100%  { width: 50px; }
}

@-webkit-keyframes resume-wide {
    0%    { width: 0px; }
    100%  { width: 980px; }
}

@-webkit-keyframes up-down {
    0%    { top: 75px; height: 0px; }
    100%  { top: 0px; height: 1936px; }
}

@-webkit-keyframes down {
    0%    { height: 0px; }
    100%  { height: 1936px; }
}

@-webkit-keyframes broaden {
    0%    { background-color: transparent; }
    100%  { background-color: #A3F1CD; }
}

@-webkit-keyframes lift {
    0%    { margin: 0px 0px; top: 0px; box-shadow: 0 0 6px -6px #777; }
    100%  { margin: 40px 0px; top: -10px; box-shadow: 0 10px 6px -6px #777; }
}

@-webkit-keyframes appear {
    0%    { height: 0px; margin: 0; }
    100%  { height: 200px; margin: 20px 0 20px 0; }
}

@-webkit-keyframes appear-with-border {
    0%    { height: 0px; margin: 0; }
    100%  { height: 340px; margin: 20px 0 20px 0; overflow: visible; }
}

@-webkit-keyframes starter-wide-reverse {
    0%    { width: 50px; }
    100%  { width: 0px; }
}

@-webkit-keyframes resume-wide-reverse {
    0%    { width: 980px; }
    100%  { width: 0px; }
}

@-webkit-keyframes up-down-reverse {
    0%    { top: 0px; height: 1936px; }
    100%  { top: 75px; height: 0px; }
}

@-webkit-keyframes down-reverse {
    0%    { height: 1936px; }
    100%  { height: 0px; }
}

@-webkit-keyframes broaden-reverse {
    0%    { background-color: #A3F1CD; }
    100%  { background-color: transparent; }
}

@-webkit-keyframes lift-reverse {
    0%    { margin: 40px 0px; top: -10px; box-shadow: 0 10px 6px -6px #777; }
    100%  { margin: 0px 0px; top: 0px; box-shadow: 0 0 6px -6px #777; }
}

@-webkit-keyframes appear-reverse {
    0%    { height: 200px; }
    100%  { height: 0px; }
}

@-webkit-keyframes appear-with-border-reverse {
    0%    { height: 340px; }
    100%  { height: 0px; overflow: hidden; }
}

.resume img.stop {

    width: 100px;
    height: 100px;
    margin: 0 20px;
}

.resume img.skill-icon {

    width: 100px;
    height: 100px;
    margin: 0 20px;
    padding: 15px;
    background-color: #565656;
}


/*============================================
=            IMAGES ZOOM                     =
============================================*/

.more .box img,
.resume-more-section .box img {

    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 200ms ease-out;
    z-index: 10;
}

.resume .more .box.screen img:hover {

    z-index: 100;
    border: 2px solid #777;
    border-radius: 1px;
    transform: scale(3);
}



