.resume {

    position: absolute;
    max-width: 980px;
    left: 0;
    right: 0;
    margin: 10px auto;
    border: solid #ececec;
    border-width: 1px 1px;
    padding: 50px 0;

    font-family: 'Open Sans';
    font-size: 15px;
    color: black;
}

.resume .starter {

    height: 10px;
    width: 40px;
    position: absolute;
    right: -50px;
    top: 145px;
}

.resume .starter::before,
.resume .section::before {
    content: "";
    height: 2px; /*for horizontal border; width for vertical*/
    display: block;
}

.resume .buttons {

    /*display: none;*/
    position: absolute;
    right: -100px;
    top: 30px;
}

.resume .buttons ul {

    list-style: none;
}

.resume .buttons li {

    margin: 20px 0;
}

.resume .buttons i {

    font-size: 25px;
    background-color: #A3F1CD;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
}

.resume .heading {

    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;

    /*background-color: aliceblue;*/
}

.resume .heading a {

    text-transform: lowercase;
    font-weight: 500;
    font-size: 18px;
    float: right;
}

.resume h5 {

    margin-top: 30px;
    text-transform: uppercase;
}

.resume .heading,
.resume .section h5,
.resume .section-item {

  margin-left: 50px;
  margin-right: 50px;
}

.section-item,
.section-heading,
.section-content {

    margin: 5px 0;
    line-height: 28px;
}

.section-heading {

    font-weight: 700;
    margin-top: 20px;
}

.section.education .section-heading,
.section.contact .section-heading,
.section.skills .section-heading span {

    font-weight: 500;
}

.section.education .section-heading,
.section.skills .section-heading {

    margin-top: 10px;
}

.section.education .section-heading span,
.section.experience .section-heading span {

    font-weight: 500;
    float: right;
}

.section.contact .section-heading {

    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid black;
}


/* animate resume */

/*.resume.animate {

    animation: rtl 100ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}*/

.resume.animate .starter::before {

    animation: rtl 200ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/*.resume.animate .section::before {

    animation: rtl 200ms;
    animation-timing-function: ease-in;
    animation-delay: 100ms;
}*/

@keyframes rtl {
  0%   { background-image: linear-gradient(to left, white, white); }
  12.5%   { background-image: linear-gradient(to left, white, white 0%, #A3F1CD 12.5%, white 32.5%, white); }
  25.0%   { background-image: linear-gradient(to left, white, white 5.0%, #A3F1CD 25.0%, white 45.0%, white); }
  37.5%   { background-image: linear-gradient(to left, white, white 17.5%, #A3F1CD 37.5%, white 57.5%, white); }
  50.0%   { background-image: linear-gradient(to left, white, white 30.0%, #A3F1CD 50.0%, white 70.0%, white); }
  67.5%   { background-image: linear-gradient(to left, white, white 47.5%, #A3F1CD 67.5%, white 87.5%, white); }
  75.0%   { background-image: linear-gradient(to left, white, white 55.0%, #A3F1CD 75.0%, white 95.0%, white); }
  87.5%   { background-image: linear-gradient(to left, white, white 67.5%, #A3F1CD 87.5%, white 100%, white); }
  100%   { background-image: linear-gradient(to left, white, white); }
}
