p {

  font-size: 16px;
  line-height: 32px;
}

a.mild {
  color: #8B8585 !important;
}

a.cham {
  color: #515151 !important;
}

.mantra {

  display: inline-block;
  height: 64px; /* two lines */

  opacity: 0;
}

#logs {

  margin-top: 40px;
  font-size: 16px;
}

.log {

  margin: 20px 0;
}

.log > span {

  float: right;
}
